#console{
color: white;
justify-content: center;
text-align: center;
padding: 10px;
height:10%;
background-color: black;

}
#navbar{
    height:auto;
    background-color:red;
    font-size: 2vh;
    color:white;
}
#webcam{
    width: auto;
    height:auto;
}

#webcamwindow{
    display:flex;
    height:80vh;
    width:100%;
      justify-content: center;
    background-color: gray;
}